:root {
  --bg: #f1f4f9;
  --text: #333;
  --card: #fff;
  --primary: #0077ff;
}

body.dark {
  --bg: #1e1e1e;
  --text: #f0f0f0;
  --card: #2c2c2c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: var(--bg);
  color: var(--text);
  padding: 30px;
  transition: background 0.3s, color 0.3s;
}

.container {
  max-width: 950px;
  margin: auto;
  background: var(--card);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  text-align: center;
  transition: background 0.3s;
}

h1 {
  font-size: 2.2rem;
  margin-bottom: 10px;
}

/* .toggle-mode {
  text-align: right;
  margin: 10px;
} */

.toggle-mode {
  text-align: right;
  margin-bottom: 20px;
}

#darkModeBtn {
  background: #444;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.3s;
}

#darkModeBtn:hover {
  background: #333;
}


.upload-section {
  border: 2px dashed #aaa;
  padding: 20px;
  border-radius: 10px;
  margin: 20px 0;
  position: relative;
}

input[type="file"] {
  margin-top: 10px;
}

button {
  padding: 10px 20px;
  background: var(--primary);
  border: none;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  margin-top: 10px;
  cursor: pointer;
}

button:hover {
  background: #005cd6;
}

.preview-section {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  flex-wrap: wrap;
}

.preview-section div {
  margin: 15px;
}

img {
  max-width: 350px;
  max-height: 350px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
}

#downloadBtn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  background: #28a745;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

#downloadBtn:hover {
  background: #218838;
}

.loader {
  margin-top: 15px;
  width: 32px;
  height: 32px;
  border: 4px solid #ccc;
  border-top: 4px solid var(--primary);
  border-radius: 50%;
  animation: spin 1s linear infinite;
  display: none;
  margin-left: auto;
  margin-right: auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
